/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.homegrade-blocks-vocabulaire-summary {
	padding: 20px;
	details {
		cursor: pointer;
		padding: 20px;
		background-color: white;
	}
	summary {
		margin: 0;
		font-weight: bold;
		&::marker {""
			content: none;
		}
	}
	&__title {
		margin: 0;
		padding-bottom: 20px;
	}
	&__content {
		padding-top: 30px;
	}
	&__content-wrapper {
		overflow: hidden;
		height: 0;
		transition: height 0.3s ease-in-out;
	}
}
